# Other files
env_faro_server
env_faro_server2
env_faro
docker/vggface2/src
docker/rcnn/face_rcnn/faro
.ipynb_checkpoints

*.weights
#*pb2.py
*.csv
*.bak
*_pb2.py
*_pb2_grpc.py
*.simg
*.dir
*.tar
*.tgz
*.zip
*.png
*.PNG
*.jpg
*.JPG
*.tif
*.TIF
*.caffemodel
*.hdf5
*.mp4
*.avi
## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# Python files
build
dist
*.pyc

# Idea files
.idea/*

# XCode
build/*
*.pbxuser
*.mode2v3
*.mode1v3
*.perspective
*.perspectivev3
*~.nib
xcuserdata
project.xcworkspace

# Java
*.class

# C/C++
*.slo
*.lo
*.o
*.so
*.dylib
*.lai
*.la
*.a
*.lib
*.dll
*.so.*
*.exe
*.out
*.app

# Latex
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy

