grpcio
grpcio-tools
numpy>1.18.5
h5py>=2.9.0
imageio>=2.5.0
scikit-image>=0.15.0
scikit-learn>=0.20.3
scipy>=1.2.1
pillow>9.3.0
pyyaml
tqdm
zeroconf
random-word
tabulate
sortedcollections
opencv-python==3.4.18.65
protobuf>3.18.3
docker
getch
